<footer class="grid-middle">
  <div class="col-3">
    <p>LOGO</p>
  </div>
  <div class="col-3">
    <h4>VPI</h4>
    <p class="footerP">VPI offers polygraph services to the public as well as to law enforcement agencies. VPI also offers private Investigative Services to the public.</p>
  </div>
  <div class="col-3">
    <h4>Polygraph:</h4>
    <p class="footerP">An instrument for receiving and recording simultaneously tracings of variations in certain body activities.</p>
  </div>
  <div class="col-3">
    <ul>
      <li><a href="/about">About Mike</a></li>
      <li><a href="/learn">Learn More</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</footer>
