<header class="grid-spaceBetween-middle mainNav">
  <nav class="col-6">
    <img src="/images/Background.png" alt="">
  </nav>
   <nav class="menu col-6 rightText">
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/services">Services</a>
      <a href="/contact"> Contact </a>
   </nav>
</header>
<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About Mike</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    <!-- <li><a href="/shop.html">Shop The Prints</a></li> -->
      <hr />
  </ul>
</div>
</nav>
</header>
