/*
  ***UNIVERSAL STYLES***
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  font-size: 16px;
  color: rgb(60,60,60);
  font-family: 'Open Sans';
}
img {
  max-width : 100%;
  height: auto;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}
a:hover{
  color:#02537dcf;
}
hr {
  border: none;
  border-bottom: 1.8px solid #02537d;
  width: 7rem;
  margin: 1rem 0;
}
hr.center {
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style-type: none;
}
h2{
  font-size: 2.7rem;
  font-weight: 400;
}
h3{
  font-size: 1.9rem;
  font-weight: 400;
}
h4{
  font-size: 1.3rem;
  font-weight: 400;
}
h5{
  font-size: 1rem;
}
header{
  /*padding: 1%;*/
  /*border-bottom: 1px solid grey;*/
}
nav a{
  padding: 0 5px 0 5px;
  font-size: 15px;
  font-family: 'Open Sans';
}
nav img{
  max-height: 65px;
}
/*
  ***HELPERS***
*/
.center{
  text-align: center;
}
.rightText{
  text-align: right;
  position: absolute;
  right: 0;
}
.verticleText{
  transform: rotate(90deg);
  float: left;
}
.padding{
  padding: 3%;
}
.underline{
  text-decoration: underline;
  color:  #02537d;
}
/*
  *** HEADER STYLES ***
*/
header{
  padding: 1.2%;
}
nav a{
  padding: 0 12px 0 12px;
}
/*
  ***HOME PAGE***
*/
.title{
  text-align: center;
  position: relative;
  padding-top: 40px;
}
.titleSection{
  min-height: 25vh;
}
.what{
  min-height: 70vh;
  background-color: #d4d4d4b5;
  padding: 5%;
}
.about{
  min-height: 70vh;
}
.aboutP{
  /*border-left: 1.5px solid #02537d;*/
  padding: 12px;
}
.services{
  min-height: 30vh;
  padding:5%;
}
.serviceBorder{
  border: black 1px solid;
  margin-right: 5px;
}
/*
  ***ABOUT PAGE***
*/
.polygraphs{
  background-color: #d4d4d4b5;
}
.aboutImage{
  transform: rotate(180deg);
  padding: 20px;
}
.imageSection{
  min-height: 70vh;
}
.bg{
  transform: rotate(270deg);
  min-height:200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:70px;
}
/*
  ***SERVICES PAGE***
*/

/*
  ***CONTACT PAGE***
*/
/*
  *** FORM ***
*/
input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 12px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #02537dcf;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:90%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid black; }

textarea {
  height: 100px;
  width: 90%;
  padding: 13px;
  line-height: 150%;
  resize:vertical;
  border-radius: 5px;
  border:2px solid #02537dcf;
  margin-bottom: 15px;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 90%;
  background:#02537dcf;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#02537d; }
/*
  ***FOOTER***
*/
footer{
  background-color: #d4d4d4b5;
  min-height: 40vh;
  padding: 2%;
}
.footerP{
  font-size: 18px;
  padding: 12px;
}
/*
hamburger menu
*/
.hamburger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
		background-color:rgb(240, 232, 220);
    padding:3% 3% 10% 3%;
		width: 465px;
		text-align:center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}
.hamburger-menu a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
	color:black;
	font-family: 'Lato', sans-serif;
  display:block;
  padding:8px 15px;
  white-space:nowrap;
}
.hamburger-menu a:hover{
	color:black;
}
a.smallMenu {
	font-size: 25px;
	font-weight: lighter;
}
.hamburger-menu li{list-style:none}
.hamburger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 12px;
}
.hamburger-button span{
  width: 50px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.hamburger-top, .hamburger-bottom{
  position: absolute;
}
.hamburger-top{
  top: 02px;
}
.hamburger-bottom{
  bottom: 02.5px;
}
.active .hamburger-top{
   transform: rotateZ(45deg);
  top:12px;
  border-color:black;
}
.active .hamburger-bottom{
   transform: rotateZ(-45deg);
  bottom:12px;
  border-color:black;
}
.active .hamburger-middle{
  opacity:0;
}
/*
  *** MEDIA QUERIES ***
*/
@media all and (min-width:640px){
  .hamburger{
    display:none;
  }
}
@media all and (max-width:640px){
  .mainNav{
    display: none;
  }
}
